<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "errore") %>Guardar</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div>
    <%= form.label :userName, "Usuario", style: "display: block" %>
    <%= form.text_field :userName, class:"rounded-pill form-control my-2" %>
  </div>

  <div>
    <%= form.label :description, "Descripción", style: "display: block" %>
    <%= form.text_field :description, class:"rounded-pill form-control my-2" %>
  </div>


  <%= form.label :profile_image, "Imagen de Perfil", style: "display: block" %>
  <div class="input-group my-2">
    <%= form.file_field :profile_image, class:"rounded-pill rounded-end form-control w-75 btn btn-secondary" %>
     <%= form.submit class:"rounded-pill rounded-start form-control btn btn-primary w-25" %>
  </div>

<% end %>
