<style>
  .tweet-card {
    min-height: 200px;
  }
</style>

<div class="container">
  <div class="card card-container">
    <div class="card-header">
      <h1 class="card-title">Mini Tweets</h1>
    </div>
    <div class="card-body">
      <%= form_with url: tweets_path, method: :get, class: "form-inline mb-3" do |form| %>
        <div class="input-group">
          <%= form.text_field :query_text, placeholder: "Buscar tweets...", value: params[:query_text], class: "form-control" %>
          <div class="input-group-append">
            <%= form.submit "Buscar", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

      <div id="tweets" class="row">
        <% @tweets.each do |tweet| %>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card tweet-card">
              <div class="card-body">
                <%= render tweet %>
              </div>
              <div class="card-footer">
                <%= link_to "Ver tweet", tweet, class: "btn btn-secondary", data: { toggle: "modal", target: "#tweetModal" } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <div class="pagination justify-content-center">
        <%= will_paginate @tweets, class: "pagination" %>
      </div>
    </div>
  </div>

  <%= link_to "Nuevo tweet", new_tweet_path, class: "btn btn-primary mt-3" %>
</div>
